.footer__disclaimer {
  @include disclaimer;
}

.footer__bottom {
  background-color: #000;
  padding-top: 28px;
  padding-bottom: 20px;
}

.footer__copyright {
  @include regular14;
  color: #fff;
}

.footer__line {
  text-align: center;
  &:not(:last-child) {
    border-right: #ffffff 1px solid;
  }
}

.footer__link {
  @include regular16;
  color: #fff;
}

.footer{
  position: relative;
}
.footer__back_to_top{
  position: absolute;
  top:50px;
  right:50px;
  cursor: pointer;
  z-index: 15;
  span{
    font-family: CSRegular;
    font-size: 14px;
    color:$color_daimler_blue;
  }
  img{
    transition: transform .2s linear;
  }
  &:hover{
    img{
      transform: translateY(-3px);
    }
  }
}


@include media-breakpoint-down($mobile_version){
  .footer__container{
    margin: 0;
    padding: 0 14px;
  }
  .footer__bottom{
    min-height: 260px;
  }
  .footer__back_to_top{
    top:initial;
    bottom: 5%;
    left: 40%;
    right: 40%;
    width: 150px;
    margin: 0 auto;
  }
  .footer__copyright-container{
    text-align: center;
  }
  .footer__row{
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__line{
    &:not(:last-child){
      border:none;
      border-bottom: #ffffff 1px solid;
    }
  }
  .footer__item a, .footer__item span{
    display: block;
    //width: 70%;
    //margin: 0 auto;
    padding: 15px 0;
  }
}